.product {
  display: block;
  border: 1px solid black;
  border-radius: 25px;
  width: 160px;
  /* height: 150px; */
  padding: 15px;
  margin: 20px;
}

.product img {
  width: 57%;
  object-fit: cover;
  float: left;
}

.order-button {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  height: 40px;
  width: 100px;
  background-color: royalblue;
}

.clear-icon {
  position: relative;
  top: -33px;
  left: 20px;
  color: red;
}

.price {
  position: absolute;
  bottom: 0;
  left: 100px;
  background: darkred;
  color: white;
}

.delete-button{
  margin-top: 10px;
}
