section {
  min-height: 100%;
  /* border: 2px solid black; */
  background-color: rgb(220, 232, 233);
  text-align: center;
  box-sizing: border-box;

  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); 12 columns */
  /* grid-template-rows: 4em auto 30px; 3 rows */
}

header {
  background-color: darkslategrey;
  width: 100%;
  height: 70px;
  text-align: left;

  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  margin-left: 35px;
  font-family: "Tangerine", serif;
  color: aliceblue;

  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
}

.log-out-container {
  display: inline-flex;
  width: 80%;
  flex-direction: row-reverse;
}

/* footer{
  display: block;
  width: 100%;
  text-align: center;
  position: relative;

}

.footer-text{
  position: fixed;
  display: inline;
  width: 200px;
  bottom: 10px;
} */

/* #footer {
  margin-top: -50px;
} */
