/* .product{
  display: inline-block;
  border: 1px solid black;
  border-radius: 25px;
  width: 200px;
  height: 150px;
  padding: 15px;
}

.product img{
  width     : 57%;
  object-fit: cover;
} */

.admin-card{
  width: 173px;
  margin: 20px;
  display: inline-block;
}

img{
  height: 153px;
}

span{
  margin: 9px;
}
